<section>
	<h1>Gym Rank</h1>
	<p>Gynm Rank is your one stop shop for finding the best gym in your area. Whether you want a gym with a pool, or a scheduled time for badminton, Gym Rank is the spot.</p>
</section>
