<section>
	<h1>Gym Rank</h1>
	<p>Love your gym? Hate it? Rank it! On Gym Rank, you can review any gym as well as find the best gym for you. Whether you want to find a gym with a pool, or give a great review for top notch facilities, Gym Rank is the spot. Sign up to rank your gym now!</p>
</section>
